SCHEMA_REGISTRY_HOST=ip-10-0-0-12.ec2.internal
SCHEMA_REGISTRY_PORT=8081
CONTROL_CENTER_HOST=ip-10-0-0-12.ec2.internal
CONTROL_CENTER_PORT=9021

BROKER_HOSTS=ip-10-0-0-12.ec2.internal
BROKER_PORT=9092
ZOOKEEPER_PORT=2181

DB_HOST=ip-10-0-0-12.ec2.internal
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres
CONNECT_HOST=ip-10-0-0-12.ec2.internal
CONNECT_PORT=8083
KSQL_HOSTS=ip-10-0-0-12.ec2.internal
KSQL_PORT=8088

RESOURCE_NAME_VERSION_ID=1
NUM_PARTITIONS=4
WINDOW_TUMBLING_SECONDS=10
REPLACATING_FACTOR=2

HISTORICAL_DATA_DIR=/home/ubuntu/heart_watch/docker_volumes/connect/static_data
HISTORICAL_DATA_FILE=historical_small.data
HISTORICAL_POLL_INTERVAL=3600000
HISTORICAL_KEYFIELD=user_id
HISTORICAL_QUERY='select user_id, latitude, longitude from historical'

REALTIME_SCHEMA_PATH=/code/schemas/realtime.avro
REALTIME_KEYFIELD=user_id
REALTIME_POLL_INTERVAL=100
REALTIME_ITERATIONS=1000000
REALTIME_OFFSET_RESET=earliest

LOGGER_NAME=HW
LOGGER_LEVEL=DEBUG
