BROKER_LIST=ec2-18-213-147-6.compute-1.amazonaws.com:9092
ZOOKEEPER_LIST=ec2-18-213-147-6.compute-1.amazonaws.com:2181
BROKER_LEADER=ec2-18-213-147-6.compute-1.amazonaws.com
# BROKER_PORT=9092
# ZOOKEEPER_PORT=2181

SCHEMA_REGISTRY_HOST=ec2-18-213-147-6.compute-1.amazonaws.com
# SCHEMA_REGISTRY_PORT=8081



CONNECT_HOST=ec2-3-219-21-38.compute-1.amazonaws.com

REST_PROXY_HOST=ec2-18-213-147-6.compute-1.amazonaws.com

DB_HOST=ec2-18-213-147-6.compute-1.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

CONTROL_CENTER_HOST=ec2-18-213-147-6.compute-1.amazonaws.com
# CONTROL_CENTER_PORT=9021


KSQL_LIST=http://ec2-3-209-181-191.compute-1.amazonaws.com:8088,http://ec2-18-205-10-224.compute-1.amazonaws.com:8088
KSQL_LEADER=ec2-3-209-181-191.compute-1.amazonaws.com


RESOURCE_NAME_VERSION_ID=2
NUM_PARTITIONS=4
WINDOW_TUMBLING_SECONDS=10
REPLACATING_FACTOR=2
CONNECT_PORT=8083
KSQL_PORT=8088

DATA_DIR=/home/ubuntu/heart_watch/docker_volumes/connect/static_data
HISTORICAL_DATA_FILE=historical_20000.jsonlines
ANOMALY_DATA_FILE=anomaly_100.jsonlines
HISTORICAL_POLL_INTERVAL=3600000
HISTORICAL_KEYFIELD=user_id
HISTORICAL_QUERY='select user_id, min_heart_rate, max_heart_rate from historical'

REALTIME_SCHEMA_PATH=/code/schemas/realtime.avro
REALTIME_KEYFIELD=user_id
REALTIME_POLL_INTERVAL=1
REALTIME_ITERATIONS=1000000
REALTIME_OFFSET_RESET=earliest

LOGGER_NAME=HW
LOGGING_LEVEL=DEBUG

GENERATED_AT_FIELD=generated_at
PROCESSING_AT_FIELD=processing_at
