# docker-compose
REST_ADVERTISED_HOST_NAME=ec2-3-217-125-144.compute-1.amazonaws.com

# prepare
RESOURCE_NAME_VERSION_ID=1
LOGGER_NAME=HeartWatch
LOGGING_LEVEL=DEBUG

DB_HOST=ec2-3-217-125-144.compute-1.amazonaws.com
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

CONNECT_HOST=ec2-3-217-125-144.compute-1.amazonaws.com
CONNECT_PORT=8083
KSQL_HOST=ec2-3-217-125-144.compute-1.amazonaws.com
KSQL_PORT=8088

HISTORICAL_DATA_DIR=/home/ubuntu/heart_watch/docker_volumes/connect/static_data
HISTORICAL_DATA_FILE='historical.data'
HISTORICAL_POLL_INTERVAL=3600000
HISTORICAL_TABLE_KEYFIELD=user_id
HISTORICAL_QUERY='select user_id, latitude, longitude from historical'

REALTIME_SCHEMA_PATH=/code/schemas/realtime.avsc
REALTIME_KEYFIELD=user_id
REALTIME_POLL_INTERVAL=1
REALTIME_ITERATIONS=1000000
REALTIME_SCHEMA_PATH=/code/schemas/realtime.avro
REALTIME_SCHEMA_KEYFIELD=user_id
REALTIME_STREAM_KEYFIELD=user_id
REALTIME_STREAM_OFFSET_RESET=earliest

# query
NUM_PARTITIONS=10
WINDOW_TUMBLING_SECONDS=10

